
body {
  background-color: black;
   /* garante que cobre a tela toda */
  margin: 0;
  padding: 0;
}

.container {
position: absolute;
width: 100vh;
top: 1px; /* distância do topo da página */
left: 50%;
transform: translateX(-50%);
color: darkgoldenrod;

}


.containerSub{
width: 80%;
padding: 10px;
font-family: sans-serif;
margin-top: 30px;
left: 20%;
right: 20%;
margin-bottom: 20px;
text-align: center;
color: antiquewhite;

}

.tituloCard{
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: -20px;
  text-align: center;
  font-size: 30px;
  
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #ccc;
  padding: 8px ;
  font-size: 18px;
}

.nome {
  flex: 1;
  text-align: left;
}

.preco {
  text-align: right;
  white-space: nowrap;
}

.lista {
  text-align: center;
  font-size: 25px;
  margin-bottom: -20px;
}

.titulo {
   font-size: 10px;
   text-align: center;
}

/* === Responsividade para telas menores === */
